html, body {
    /* modal - start */
    .uk-modal {
        background: rgba(0, 0, 0, 0.7); font-size: get-vw(20px); line-height: 150%; font-family: $regular; font-weight: 400; color: rgba(255,255,255,.6);
        @media (max-width: 959px) {
            font-size: 20px;
        }
        .uk-modal-dialog {
            background: #1A1B1E; box-shadow: 0px get-vw(4px) get-vw(24px) get-vw(-1px) rgba(0, 0, 0, 0.2); backdrop-filter: blur(get-vw(40px)); border-radius: get-vw(20px); border: 2px solid rgba(255,255,255,.1);
            .uk-modal-body, &.uk-modal-body {
                background: transparent; padding: get-vw(37px) get-vw(40px);
                .uk-button-group {
                    .uk-button {
                        text-transform: none; padding-top: get-vw(14px); padding-bottom: get-vw(14px);
                        @media (max-width: 959px) {
                            padding-top: 14px; padding-bottom: 14px;
                        }
                    }
                }
                @media (max-width: 959px) {
                    padding: 37px 40px;
                }
            }
            .uk-modal-footer {
                background: transparent; padding: get-vw(17px) get-vw(40px); border-top: 1px solid rgba(255,255,255,.1);
                @media (max-width: 959px) {
                    padding: 17px 40px;
                }
            }
            .uk-close {
                top: get-vw(37px); right: get-vw(40px);
                svg {
                    width: get-vw(20px); height: get-vw(20px);
                    line {
                        stroke-width: get-vw(3px); stroke-linecap: round;
                        @media (max-width: 959px) {
                            stroke-width: 3px;
                        }
                    }
                    @media (max-width: 959px) {
                        width: 20px; height: 20px;
                    }
                }
                @media (max-width: 959px) {
                    top: 37px 40px;
                }
            }
            @media (max-width: 959px) {
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2); backdrop-filter: blur(40px); border-radius: 20px;
            }
        }
        
        h1, h2, h3, h4, h5, h6 {
            font-size: get-vw(27px); line-height: get-vw(32px); margin-bottom: get-vw(24px); font-family: $medium; font-weight: 500;
            @media (max-width: 959px) {
                font-size: 27px; line-height: 32px; margin-bottom: 24px;
            }
        }
        .uk-text-light {color: rgba(255,255,255,1);}
        .uk-text-medium {
            font-family: $medium; font-weight: 500; font-size: get-vw(27px); line-height: get-vw(32px);
            @media (max-width: 959px) {
                font-size: 27px; line-height: 32px;
            }
        }
        .uk-text-xsmall {
            font-size: get-vw(15px);
            @media (max-width: 959px) {
                font-size: 15px;
            }
        }
        &.uk-modal-container {
            .uk-modal-dialog {
                width: get-vw(1200px);
                @media (max-width: 959px) {
                    width: 100%;
                }
            }
            &.uk-modal-container-medium {
                .uk-modal-dialog {
                    width: get-vw(972px);
                    @media (max-width: 959px) {
                        width: 100%;
                    }
                }
            }
            &.uk-modal-container-small {
                .uk-modal-dialog {
                    width: get-vw(584px);
                    @media (max-width: 959px) {
                        width: 100%;
                    }
                }
            }
        }
        .modal-user-info {
            .uk-card {
                border: 0; border-radius: get-vw(7px);
                .uk-card-body {
                    padding: get-vw(9px) get-vw(16px);
                    @media (max-width: 959px) {
                        padding: 9px 16px;
                    }
                }
                @media (max-width: 959px) {
                    border-radius: 7px;
                }
            }
        }
    }
    /* modal - end */
}